<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if type %}
    {% for k in notif %}
    <ul>
            <li>Conditions: {{ k.cond}} &nbsp &nbsp &nbsp & Notification: {{ k.msg }} <br>
                <a href="{% url 'notif:cupdate' k.id %}" target="_blank">Update</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="{% url 'notif:delete' k.id %}" target="_blank">Delete</a>
            </li>
    </ul>
    {% endfor %}
{% else %}
    {{ notif }}
{% endif %}
<a href="{% url 'notif:add' %}">Add new notifications</a>
</body>
</html>