<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenge_1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<br>
<center>
<a href="{% url 'notif:gen' %}">générer 100 reservations aléatoires</a>   &nbsp &nbsp
<a href="{% url 'notif:lvip' %}">Show latest VIPs clients</a>    &nbsp &nbsp
<a href="{% url 'notif:vip' %}">Get all VIPs Clients</a><br> &nbsp &nbsp
<a href="{% url 'notif:notif' %}">Notification Email </a><br> &nbsp &nbsp
    </center>
<br><br><br>
{% block body %}
{% endblock %}
</body>
</html>