<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    Conditions : <br>
    <textarea rows="15" cols="100" name="cond">{{ cond }}</textarea> <br> <br> <br>
    Message of notification: <br> <textarea rows="5" cols="80" name="notif"> {{ notif }} </textarea><br>
    <input type="submit" value="Update">
<br><br><br>
<center>{{msg}}</center>
</body>
</body>
</html>