<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <input type="text" name="log" placeholder="Enter login"><br>
    <input type="password" name="pwd" placeholder="Enter password"> <br>
    <input type="submit" value="Login">
</form>
{{msg}}
</body>
</html>