{% extends 'base.html' %}
{% block body %}
{% if type == 2%}
<ol>
    {% for u in message %}
    <li>Id: {{ u.ID }} <br> Name: {{ u.name }} <br> Totale: {{ u.total }} <br> Periode: {{ u.periode }}<br> Notification messages: {{ u.message }}</li>
{% endfor %}
</ol>
{% elif type == 1 %}
{{ message }}
{% endif %}
{% endblock %}